@use "../global/mixins.scss";
@use "../variables.scss" as*;

.about {
  padding-top: 31px;
  padding-bottom: 30px;

  @media (min-width: $tablet) {
    padding-top: 58px;
    padding-bottom: 79px;
  }

  @media (min-width: $desktop) {
    padding-top: 70px;
    width: 800px;
    padding-bottom: 87px;
  }
}

.about__title {
  margin-bottom: 4px;

  @media (min-width: $tablet) {
    margin-bottom: 18px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 17px;
  }
}

.about__list {
  @include mixins.list-reset;
  display: grid;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 50%;
    gap: 30px;
  }
}

.about__item {
  margin-bottom: 4px;
  padding-top: 79px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: var(--c-bold-text);
  background: var(--bgi) var(--bgc-rep) var(--bgi-pos) / var(--bgc-size);

  &--ecology {
    --bgi: url("../icons/sprite.svg#about-ecology");
    --bgi-pos: 8px 23px;
    --bgc-size: 33px 38px;
  }

  &--style {
    --bgi: url("../icons/sprite.svg#about-style");
    --bgi-pos: left 25px;
    --bgc-size: 47px 27px;
  }

  &--likes {
    --bgi: url("../icons/sprite.svg#about-likes");
    --bgi-pos: 7px 29px;
    --bgc-size: 34px 27px;
  }

  &--manually {
    --bgi: url("../icons/sprite.svg#about-manually");
    --bgi-pos: 3px 27px;
    --bgc-size: 35px 34px;
  }

  &--support {
    --bgi: url("../icons/sprite.svg#about-support");
    --bgi-pos: left 28px;
    --bgc-size: 55px 23px;
  }

  &--packing {
    --bgi: url("../icons/sprite.svg#about-packing");
    --bgi-pos: 2px 26px;
    --bgc-size: 33px 32px;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 2px;

    &--ecology {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    &--manually {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    &--style {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    &--support {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    &--likes {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }

    &--packing {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }
  }
}
