@use "../global/mixins.scss";

.about {
  padding-top: 31px;
  padding-bottom: 30px;
}

.about__title {
  margin-bottom: 4px;
}

.about__list {
  @include mixins.list-reset;
  display: grid;
}

.about__item {
  margin-bottom: 4px;
  padding-top: 79px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: var(--color-bold-text);
}
