@use "../global/mixins.scss";

.burger {
  @include mixins.button-reset;
  // position: relative;
  width: 20px;
  height: 14px;
  overflow: hidden;
  border: none;
  background: url("../img/burger.svg") var(--bgc-rep) var(--bgc-pos) / var(--bgc-size);
}
