@use "../global/mixins.scss";

.burger {
  @include mixins.button-reset;
  width: 20px;
  height: 14px;
  overflow: hidden;
  border: none;
  background: url("../img/burger.svg") var(--bgc-rep) var(--bgc-pos) / var(--bgc-size);
}

.burger--active {
  width: 21px;
  height: 20px;
  background: url("../img/burger-close.svg");
}
