@use "../global/mixins.scss";

.button {
  @include mixins.link-reset;
  display: block;
  padding: 13px 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  border: 2px solid var(--c-text);
}
