@use "../global/mixins.scss";
@use "../variables.scss" as*;

.catalog {
  padding-bottom: 28px;

  @media (min-width: $tablet) {
    padding-bottom: 35px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 75px;
  }
}

.catalog__title {
  padding-top: 74px;
  padding-bottom: 74px;
  margin-bottom: 30px;
  font-size: 27px;
  text-align: center;
  background-color: var(--c-bgc);

  @media (min-width: $tablet) {
    @include mixins.zigzag-fill-tablet;
    background-color: var(--c-bgc);
    margin-bottom: 68px;
    padding-top: 48px;
    padding-bottom: 85px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop) {
    @include mixins.zigzag-fill-desktop;
    background-color: var(--c-bgc);
    margin-bottom: 108px;
    padding-bottom: 115px;
    font-size: 53px;
    line-height: 57px;
  }
}

.catalog__list {
  @include mixins.list-reset;
  display: grid;
  gap: 30px;
  margin-bottom: 30px;

  @media (min-width: $tablet) {
    gap: 54px;
    margin-bottom: 18px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(3, 1fr);
    gap: 51px;
    margin-bottom: 56px;
  }
}

.catalog__item {
  @media (min-width: $tablet) {
    display: flex;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: column;
  }
}

.catalog__link-img {
  @include mixins.link-reset;
  display: block;
}

.catalog__image {
  display: block;

  @media (min-width: $tablet) {
    width: 334px;
    height: auto;
  }

  @media (min-width: $desktop) {
    width: 316px;
  }
}

.catalog__wrap {
  position: relative;
  padding: 26px 27px 26px 27px;
  min-height: 179px;
  border: var(--border);

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    padding: 27px 32px 24px 31px;
    width: 50%;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: column;
    padding: 27px 32px 24px 27px;
    width: 100%;
    height: 100%;
  }
}

.catalog__wrap--cart {
  padding-top: 24px;
}

.catalog__link-title {
  @include mixins.link-reset;
}

.catalog__subtitle {
  margin-bottom: 6px;
  font-size: 17px;
  line-height: 24px;

  @media (min-width: $tablet) {
    font-size: 20px;
  }
}

.catalog__subtitle--cart {
  margin-bottom: 8px;

  @media (min-width: $desktop) {
    transform: translateY(4px);
  }
}

.catalog__description {
  margin: 0;
  padding-bottom: 18px;
  font-size: 13px;
  line-height: 30px;

  @media (min-width: $tablet) {
    margin-bottom: auto;
    padding-bottom: 15px;
    font-size: 15px;
  }
}

.catalog__price {
  margin: 0;
  padding-top: 22px;
  font-weight: 700;
  line-height: 24px;
  border-top: var(--border);

  @media (min-width: $tablet) {
    padding-top: 24px;
    font-size: 17px;
  }

  @media (min-width: $desktop) {
    padding-top: 23px;
  }
}

.catalog__link-basket {
  position: absolute;
  right: 26px;
  bottom: 32px;
  width: 20px;
  height: 19px;
  background: url("../img/cart.svg") var(--bgc-rep) var(--bgc-pos) / var(--bgc-size);

  @media (min-width: $tablet) {
    right: 31px;
  }
}

.catalog__production {
  display: grid;
  padding-bottom: 30px;

  @media (min-width: $desktop) {
    grid-template-columns: 683px 1fr;
  }
}

.catalog__production-title {
  margin-bottom: 0;
  padding-top: 22px;
  padding-bottom: 25px;
  padding-left: 90px;
  font-size: 17px;
  line-height: 24px;
  border: var(--border);
  border-bottom: none;
  background: url("../img/catalog-video.svg") var(--bgc-rep) 33px center / var(--bgc-size);

  @media (min-width: $tablet) {
    grid-row: 2 / 3;
    padding-top: 41px;
    padding-bottom: 20px;
    padding-left: 106px;
    font-size: 20px;
    background-position: 40px 38px;
  }

  @media (min-width: $desktop) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-top: 96px;
    padding-left: 78px;
    max-width: 180px;
    border: none;
    background-position: 78px 40px;
  }
}

.catalog__wrap-video {
  position: relative;

  @media (min-width: $tablet) {
    grid-row: 1 / 2;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.catalog__video {
  display: block;

  @media (min-width: $tablet) {
    width: 668px;
    height: 490px;
  }

  @media (min-width: $desktop) {
    width: 683px;
    height: 455px;
  }
}

.catalog__button-video {
  @include mixins.button-reset;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100px;
  height: 77px;
  border: none;
  background: url("../img/play.svg") var(--bgc-rep) var(--bgc-pos) / var(--bgc-size);
}

.catalog__wrap-description {
  padding: 35px 31px 33px 33px;
  border: var(--border);
  border-top: none;

  @media (min-width: $tablet) {
    padding: 4px 39px 45px 39px;
  }

  @media (min-width: $desktop) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: end;
    padding: 10px 56px 60px 78px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: var(--border);
  }
}

.catalog__production-text {
  margin-top: 0;
  margin-bottom: 42px;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet) {
    margin-bottom: 41px;
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 52px;
  }
}

.catalog__link-order {
  width: 192px;

  @media (min-width: $tablet) {
    padding: 15px 15px;
    width: 100%;
    font-size: 17px;
    line-height: 16px;
  }
}
