@use "../variables.scss" as*;

.container {
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  max-width: 1150px;

  @media (min-width: $mobile) {
    padding-right: 50px;
    padding-left: 50px;
    max-width: 1150px;
  }
}
