@use "../global/mixins.scss";
@use "../variables.scss" as*;

.contacts {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet) {
    padding-top: 68px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 60%;
    column-gap: 30px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 72px;
    padding-right: 50px;
    padding-bottom: 107px;
    padding-left: 223px;
    width: 1150px;
  }
}

.contacts__title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 7px;
  padding-left: 30px;

  @media (min-width: $tablet) {
    position: relative;
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 30px;
    text-align: left;

    &::after {
      content: "";
      position: absolute;
      top: -21px;
      right: 53px;
      width: 47px;
      height: 81px;
      background: url("../img/sprite.svg#contacts-flag") var(--bgc-rep) var(--bgc-pos) / 47px 81px;
    }
  }

  @media (min-width: $desktop) {
    grid-column: 1 / 2;
    margin-bottom: 0;
    padding-top: 80px;
    padding-left: 0;

    &::after {
      top: 62px;
      right: auto;
      left: -110px;
    }
  }
}

.contacts__address {
  padding-top: 20px;
  padding-bottom: 62px;
  font-style: normal;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  width: 320px;

  @media (min-width: $tablet) {
    padding-bottom: 48px;
    padding-right: 50px;
    padding-left: 50px;
    width: 768px;
  }

  @media (min-width: $desktop) {
    margin-right: 0;
    margin-bottom: 55px;
    margin-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    width: auto;
    grid-column: 1 / 2;
  }
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
  margin: 0;

  @media (min-width: $tablet) {
    flex-direction: initial;
    flex-wrap: wrap;
    gap: 0 20px;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
    gap: 30px 20px;
  }
}

.contacts__item {
  display: grid;
  grid-template-columns: 30% 70%;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet) {
    grid-template-columns: 25% 75%;
    font-size: 17px;
    width: 47%;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 24.5% 75.5%;
    width: 100%;
  }
}

.contacts__description {
  margin: 0;
}

.contacts__link-email {
  @include mixins.link-reset;
  padding-bottom: 2px;
  border-bottom: 1px solid var(--c-link-border);
  transition: color 0.3s, border 0.3s;

  &:hover {
    color: var(--c-hover);
  }

  &:active {
    color: var(--c-hover);
    border-bottom: 1px solid rgba(70, 193, 174, 0.1);
  }

  @media (min-width: $desktop) {
    padding-bottom: 7px;
  }
}

.contacts__map-wrap {
  height: 454px;
  margin-bottom: 43px;

  @media (min-width: $tablet) {
    height: 457px;
    margin-bottom: 56px;
  }

  @media (min-width: $desktop) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    margin-bottom: 0;
  }
}

.contacts__map {
  display: block;
  border: none;
  width: 100%;
  height: 100%;
}

.contacts__button {
  margin-right: auto;
  margin-left: auto;
  width: 260px;
  transition: color 0.3s, background-color 0.3s;

  &:hover {
    color: var(--white);
    background-color: var(--c-text);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet) {
    width: 230px;
    font-size: 17px;
  }

  @media (min-width: $desktop) {
    margin-right: 0;
    margin-left: 0;
    width: 230px;
    grid-column: 1 / 2;
    align-self: self-end;
  }
}
