@use "../global/mixins.scss";
@use "../variables.scss" as*;

.featured {
  @include mixins.zigzag;
  padding-top: 33px;
  padding-bottom: 43px;

  @media (min-width: $tablet) {
    @include mixins.zigzag-tablet;
    padding-top: 36px;
    padding-bottom: 68px;
  }

  @media (min-width: $desktop) {
    padding-top: 52px;
    padding-bottom: 0;
    background-image: none;
  }
}

.featured__container {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 50%;
    column-gap: 42px;
  }

  @media (min-width: $desktop) {
    @include mixins.zigzag-desktop;
    grid-template-columns: 133px 1fr 50%;
    padding-bottom: 95px;
  }
}

.featured__title {
  margin-top: 0;
  margin-bottom: 4px;

  @media (min-width: $tablet) {
    margin-bottom: 37px;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  @media (min-width: $desktop) {
    position: relative;
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    margin-bottom: 33px;
    padding-top: 62px;
  }
}

.featured__marking {
  margin-top: 0;
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--c-bgc-interior);

  @media (min-width: $tablet) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    padding-top: 6px;
    margin-right: 24px;
    width: 80px;
    line-height: 17px;
    text-align: center;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: end;
    align-self: center;
    margin-right: 12px;
    margin-bottom: 0;
    padding-top: 17px;
  }
}

.featured__text {
  margin-top: 0;
  margin-bottom: 21px;
  line-height: 24px;

  @media (min-width: $tablet) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-bottom: 41px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-bottom: 26px;
    min-height: 112px;
  }
}

.featured__list {
  margin-top: 0;
  margin-bottom: 28px;
  line-height: 20px;

  @media (min-width: $tablet) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    min-height: 160px;
    margin-bottom: 67px;
  }
}

.featured__item {
  display: grid;
  grid-template-columns: 38% 1fr;
  padding-top: 7px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--c-line);

  @media (min-width: $tablet) {
    grid-template-columns: 33% 1fr;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 32% 1fr;
  }
}

.featured__property {
  grid-column: 1 / 2;
}

.featured__description {
  margin: 0;
  grid-column: 2 / 3;
}

.featured__image-wrap {
  margin-bottom: 27px;

  @media (min-width: $tablet) {
    grid-column: 2 / 3;
    grid-row: 2 / 6;
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    grid-column: 3 / 4;
    grid-row: 1 / 6;
  }
}

.featured__image {
  display: block;

  @media (min-width: $tablet) {
    width: 334px;
    height: 100%;
  }

  @media (min-width: $desktop) {
    width: 525px;
    height: auto;
  }
}

.featured__price {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;

  @media (min-width: $tablet) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    font-size: 20px;
    margin-bottom: 33px;
  }

  @media (min-width: $desktop) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    margin-bottom: 25px;
    transform: translateX(-7px);
  }
}

.featured__button {
  transition: color 0.3s, background-color 0.3s;

  &:hover {
    color: var(--white);
    background-color: var(--c-text);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet) {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    font-size: 17px;
  }

  @media (min-width: $desktop) {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    width: 292px;
    align-self: start;
    transform: translateY(5px);
  }
}
