@use "../variables.scss" as*;

.footer {
  padding-top: 28px;
  padding-bottom: 32px;
  background-color: var(--c-bgc);

  @media (min-width: $tablet) {
    padding-top: 49px;
    padding-bottom: 58px;
  }
}

.footer__container {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__link-logo {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}

.footer__social {
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet) {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.footer__developer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__span-developer {
  padding-top: 30px;
  padding-right: 27px;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: var(--color-bold-text);

  @media (min-width: $tablet) {
    padding-top: 0;
  }
}

.footer__link-developer {
  display: inline-block;
  width: 27px;
  height: 35px;
  background: url("../img/sprite.svg#icon-htmlacademy") var(--bgc-rep) var(--bgc-pos) / 27px 35px;
  transform: translateY(15px);

  @media (min-width: $tablet) {
    transform: none;
  }
}
