@use "../global/mixins.scss";
@use "../variables.scss" as*;

.form {
  padding-bottom: 53px;

  @media (min-width: $tablet) {
    padding-bottom: 32px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 30px;
  }
}

.form__wrapper {
  @media (min-width: $tablet) {
    background: var(--c-bgc);
  }
}

.form__fieldset {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 43px;
  margin-left: 0;
  padding: 0;
  border: none;
  border-top: 1px solid var(--c-bgc-interior);

  @media (min-width: $tablet) {
    display: flex;
    margin-bottom: 48px;
    border-top: none;
    margin-right: auto;
    margin-left: auto;
    padding-top: 17px;
    padding-right: 50px;
    padding-bottom: 20px;
    padding-left: 50px;
    width: 768px;
  }

  @media (min-width: $desktop) {
    width: 1150px;
    margin-bottom: 46px;
    padding-left: 111px;
    padding-right: 225px;
  }
}

.form__fieldset--choice-color {
  @media (min-width: $tablet) {
    margin-bottom: 56px;
    padding-top: 65px;
    padding-bottom: 8px;
  }

  @media (min-width: $desktop) {
    padding-right: 50px;
    padding-top: 68px;
    padding-bottom: 8px;
    margin-bottom: 33px;
  }
}

.form__subtitle {
  padding-right: 22px;
  padding-left: 1px;
  margin-bottom: 35px;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--c-bgc-interior);

  @media (min-width: $tablet) {
    margin-bottom: 0;
    padding-right: 134px;
    float: left;
  }

  @media (min-width: $desktop) {
    padding-right: 79px;
  }
}

.form__subtitle--choice-color {
  @media (min-width: $tablet) {
    padding-right: 125px;
  }

  @media (min-width: $desktop) {
    padding-right: 70px;
  }
}

.form__list-check {
  @include mixins.list-reset;
  margin: 0;
  padding-left: 0;
}

.form__list-check--checkbox {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 61px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(3, 1fr);
    gap: 0 62px;
  }
}

.form__item-check:not(:last-child) {
  margin-bottom: 24px;

  @media (min-width: $tablet) {
    margin-bottom: 57px;
  }
}

.form__label {
  position: relative;
  display: block;
  padding-left: 61px;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--c-bold-text);

  @media (min-width: $tablet) {
    padding-left: 77px;
    font-size: 19px;
  }

  @media (min-width: $desktop) {
    padding-left: 79px;
  }
}

.form__label--choice-color {
  @media (min-width: $tablet) {
    padding-left: 80px;
  }
}

.form__mark-radio {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border: 2px solid var(--c-text);
  border-radius: 50%;
  transition: border 0.3s;

  &:hover {
    border-color: var(--c-link-border);
  }

  &:active {
    border-color: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: $tablet) {
    bottom: 50%;
    transform: translateY(50%);
    width: 50px;
    height: 50px;
  }

  &--toy {
    bottom: -55%;

    @media (min-width: $tablet) {
      bottom: 50%;
    }
  }
}

.form__radio:checked + .form__mark-radio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: var(--c-link-border);

  @media (min-width: $tablet) {
    width: 20px;
    height: 20px;
  }
}

.form__item-checkbox:not(:last-child) {
  margin-bottom: 43px;

  @media (min-width: $tablet) {
    margin-bottom: 58px;
  }
}

.form__mark-check {
  position: absolute;
  top: -53%;
  left: 0;
  width: 38px;
  height: 38px;
  border: 2px solid var(--c-text);

  &:hover {
    border-color: var(--c-link-border);
  }

  &:active {
    border-color: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: $tablet) {
    top: -86%;
    width: 52px;
    height: 52px;
  }

  @media (min-width: $desktop) {
    top: -98%;
    width: 52px;
    height: 52px;
  }
}

.form__checkbox:checked + .form__mark-check::after {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  background: url("../icons/sprite.svg#form-tick") var(--bgc-rep) var(--bgc-pos) / 24px 17px;

  @media (min-width: $tablet) {
    width: 46px;
    height: 46px;
    background-size: 32px 22px;
  }
}

.form__fieldset--name {
  margin-bottom: 33px;

  @media (min-width: $tablet) {
    padding-top: 10px;
  }

  @media (min-width: $desktop) {
    padding-top: 31px;
    margin-bottom: 30px;
  }
}

.form__subtitle--name {
  margin-bottom: 30px;

  @media (min-width: $tablet) {
    padding-top: 5px;
    padding-right: 126px;
  }

  @media (min-width: $desktop) {
    padding-top: 6px;
    padding-right: 75px;
  }
}

.form__label--name {
  padding-left: 0;

  @media (min-width: $tablet) {
    padding-top: 2px;
  }
}

.form__list-input {
  @include mixins.list-reset;

  @media (min-width: $tablet) {
    flex-grow: 1;
  }
}

.form__input {
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 0;
  width: 100%;
  font-family: var(--main-font);
  font-size: 17px;
  line-height: 18px;
  color: var(--c-bold-text);
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid var(--black);
  transition: border 0.3s;

  &::placeholder {
    opacity: 0.4;
  }

  &:placeholder-shown,
  &:not(:placeholder-shown) {
    outline: none;
  }

  &:hover {
    border-color: var(--c-link-border);
    outline: none;
  }

  &:hover + .form__input-sign::before {
    background-color: var(--c-link-border);
  }

  &:focus-visible {
    border-color: var(--c-link-border);
  }

  &:active {
    border-color: var(--c-link-border);
  }

  &:active + .form__input-sign::before {
    background-color: var(--c-link-border);
  }

  @media (min-width: $tablet) {
    padding-top: 0;
    padding-bottom: 10px;
    padding-left: 17px;
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 19px;
    flex-grow: 1;
    background-color: transparent;
  }

  @media (min-width: $desktop) {
    padding-top: 0;
    padding-bottom: 10px;
    padding-left: 16px;
  }

  &--tel {
    @media (min-width: $tablet) {
      padding-bottom: 11px;
    }

    @media (min-width: $desktop) {
      padding-bottom: 13px;
      padding-left: 20px;
    }
  }

  &--email {
    @media (min-width: $tablet) {
      padding-bottom: 11px;
    }

    @media (min-width: $desktop) {
      padding-bottom: 12px;
    }
  }
}

.form__input-sign {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  width: 32px;
  height: 24px;

  &--tel {
    transform: translateY(-62%);
  }

  @media (min-width: $tablet) {
    top: 41%;
    right: 21px;
  }

  @media (min-width: $desktop) {
    top: 41%;
    right: 3px;
  }

  &::before {
    content: "";
    display: block;
    background-color: #cccccc;
    mask-image: var(--bgi);
    mask-repeat: var(--bgc-rep);
    mask-position: var(--bgc-pos);
    mask-size: var(--bgc-size);
    transition: background-color 0.3s;
  }

  &--tel::before {
    --bgi: url("../icons/sprite.svg#form-phone");
    --bgc-size: 25px 24px;
    margin-left: 3px;
    width: 25px;
    height: 24px;
  }

  &--email::before {
    --bgi: url("../icons/sprite.svg#form-mail");
    --bgc-size: 32px 21px;
    width: 32px;
    height: 21px;
  }
}

.form__item-input:not(:last-child) {
  margin-bottom: 23px;

  @media (min-width: $tablet) {
    margin-bottom: 38px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 39px;
  }
}

.form__item-input {
  position: relative;

  @media (min-width: $tablet) {
    display: flex;
    column-gap: 26px;
  }
}

.form__item-input--tel,
.form__item-input--email {
  @media (min-width: $tablet) {
    display: block;
  }
}

.form__fieldset--tel {
  margin-bottom: 36px;

  @media (min-width: $tablet) {
    margin-bottom: 4px;
    padding-top: 60px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 4px;
    padding-top: 60px;
  }
}

.form__subtitle--tel,
.form__subtitle--email {
  margin-bottom: 6px;

  @media (min-width: $tablet) {
    padding-top: 3px;
  }
}

.form__subtitle--tel {
  @media (min-width: $desktop) {
    padding-top: 7px;
  }
}

.form__subtitle--email {
  @media (min-width: $tablet) {
    padding-right: 112px;
  }

  @media (min-width: $desktop) {
    padding-top: 4px;
    padding-right: 60px;
  }
}

.form__fieldset--email {
  margin-bottom: 12px;

  @media (min-width: $tablet) {
    padding-top: 14px;
    padding-bottom: 15px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 14px;
  }
}

.form__fieldset--textarea {
  margin-bottom: 14px;

  @media (min-width: $tablet) {
    margin-bottom: 17px;
    padding-right: 50px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 13px;
    padding-right: 225px;
  }
}

.form__subtitle--textarea {
  margin-bottom: 23px;

  @media (min-width: $tablet) {
    padding-top: 21px;
    padding-right: 130px;
  }

  @media (min-width: $desktop) {
    padding-right: 77px;
  }
}

.form__label--textarea {
  padding-left: 0;
}

.form__textarea {
  padding: 17px;
  padding-left: 15px;
  height: 142px;
  width: 100%;
  font-family: var(--main-font);
  font-size: 17px;
  line-height: 18px;
  resize: none;
  border: 2px solid var(--c-text);
  transition: border 0.3s;

  @media (min-width: $tablet) {
    font-size: 19px;
  }

  &:hover,
  &:active {
    border-color: var(--c-link-border);
  }

  &::placeholder {
    opacity: 0.3;
    border-color: var(--c-link-border);
  }

  &:placeholder-shown,
  &:not(:placeholder-shown) {
    outline: none;
  }
}

.form__wrapper-button {
  @media (min-width: $tablet) {
    display: flex;
    margin: 0 auto;
    padding-top: 16px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-left: 50px;
    width: 768px;
  }

  @media (min-width: $desktop) {
    width: 1060px;
  }
}

.form__text {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    padding-top: 13px;
    padding-bottom: 14px;
    order: 1;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop) {
    padding-right: 130px;
    font-size: 17px;
  }
}

.form__button {
  @include mixins.button-reset;
  width: 100%;
  min-height: 52px;
  font-size: 17px;
  line-height: 16px;
  transition: color 0.3s, background-color 0.3s;

  &:hover {
    color: var(--white);
    background-color: var(--c-text);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet) {
    width: 230px;
    margin-right: auto;
    align-self: start;
  }

  @media (min-width: $desktop) {
    margin-left: 130px;
  }
}
