@use "../variables.scss" as*;

.header {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 79px;
    background: var(--white);
    border-bottom: var(--border);
    z-index: 2;
  }

  @media (min-width: $tablet) {
    background: var(--c-bgc-hero);

    &::before {
      height: 88px;
      z-index: 1;
    }
  }

  &--catalog,
  &--form {
    @media (min-width: $tablet) {
      background: var(--c-bgc);
    }

    @media (min-width: $desktop) {
      background: var(--c-bgc);
    }
  }
}

.header__container {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 21px;
  padding-bottom: 22px;

  @media (min-width: $tablet) {
    position: relative;
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    background: var(--c-bgc-hero);
  }

  &--catalog,
  &--form {
    @media (min-width: $tablet) {
      background: var(--c-bgc);
    }

    @media (min-width: $desktop) {
      background: var(--c-bgc);
    }
  }
}

.header__link-logo {
  position: relative;
  z-index: 3;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: center;

  @media (min-width: $tablet) {
    position: absolute;
    top: 21px;
    left: 50px;
    z-index: 2;
  }

  @media (min-width: $desktop) {
    position: absolute;
    top: 21px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
}

.header__burger {
  position: relative;
  z-index: 3;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: end;

  @media (min-width: $tablet) {
    display: none;
  }
}
