@use "../global/mixins.scss";
@use "../variables.scss" as*;

.hero {
  position: relative;
  padding-top: 73px;
  background: var(--c-bgc-hero) url("../img/hero-mobile@1x.png") var(--bgc-rep) var(--bgc-pos) -18px / var(--bgc-size);
  overflow-x: hidden;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile@2x.png");
    background-size: 320px 373px;
  }

  @media (min-width: $tablet) {
    padding-top: 88px;
    min-height: auto;
    background-image: url("../img/hero-tablet@1x.png");
    background-position: var(--bgc-pos) -68px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-tablet@2x.png");
      background-size: 768px auto;
    }

    &::after {
      @include mixins.zigzag-fill-tablet;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 26px;
      z-index: 1;
    }
  }

  @media (min-width: $desktop) {
    padding-top: 92px;

    &::after {
      @include mixins.zigzag-fill-desktop;
      height: 34px;
      bottom: -1px;
    }
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 416px;

  @media (min-width: $tablet) {
    min-height: 605px;
  }

  @media (min-width: $desktop) {
    min-height: 605px;
  }
}

.hero__title {
  margin-bottom: 0;
  padding-bottom: 30px;
  text-align: center;
  font-size: 27px;
  align-self: center;

  @media (min-width: $tablet) {
    max-width: 650px;
    font-size: 43px;
  }

  @media (min-width: $desktop) {
    max-width: 700px;
    font-size: 53px;
    line-height: 57px;
  }
}

.hero__list {
  @include mixins.list-reset;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.hero__item {
  @media (min-width: $tablet) {
    width: 50%;
  }
}

.hero__link {
  @include mixins.link-reset;
  position: relative;
  display: block;
  padding: 24px 90px 31px 0;
  min-height: 103px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: var(--white);
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    z-index: -1;

    @media (min-width: $tablet) {
      left: 0;
      right: 0;
      transform: none;
      width: auto;
    }
  }

  &--interior::before {
    background: var(--c-bgc-interior) url("../img/hero-interior.svg") var(--bgc-rep) left calc(50% + 105px) top 24px / var(--bgc-size);

    @media (min-width: $tablet) {
      background-position: right 37px top 30px;
    }
  }

  &--toys::before {
    background: var(--c-bgc-toys) url("../img/hero-toy.svg") var(--bgc-rep) left calc(50% + 105px) top 23px / var(--bgc-size);

    @media (min-width: $tablet) {
      background-position: right 33px top 31px;
    }
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    padding: 26px 120px 48px 36px;
  }

  @media (min-width: $desktop) {
    padding: 25px 305px 50px 36px;
  }
}
