@use "../global/mixins.scss";
@use "../variables.scss" as*;

.hero {
  position: relative;
  padding-top: 73px;
  min-height: 489px;
  background: var(--c-bgc-hero) url("../img/hero-mobile@1x.png") var(--bgc-rep) var(--bgc-pos) -18px / var(--bgc-size);

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile@2x.png");
    background-size: 320px 373px;
  }

  @media (min-width: $tablet) {
    padding-top: 88px;
    min-height: auto;
    background-image: url("../img/hero-tablet@1x.png");
    background-position: var(--bgc-pos) -68px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-tablet@2x.png");
      background-size: 768px auto;
    }

    &::after {
      @include mixins.zigzag-fill-tablet;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 26px;
      z-index: 1;
    }
  }

  @media (min-width: $desktop) {
    padding-top: 91px;

    &::after {
      @include mixins.zigzag-fill-desktop;
      height: 34px;
      bottom: -1px;
    }
  }
}

.hero__container {
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 606px;
  }

  @media (min-width: $desktop) {
    min-height: 605px;
  }
}

.hero__title {
  text-align: center;
  font-size: 27px;
  align-self: center;

  @media (min-width: $tablet) {
    max-width: 650px;
    font-size: 43px;
  }

  @media (min-width: $desktop) {
    max-width: 700px;
    font-size: 53px;
    line-height: 57px;
  }
}

.hero__list {
  @include mixins.list-reset;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;

  @media (min-width: $tablet) {
    position: static;
    display: flex;
  }
}

.hero__item {
  &--interior {
    background-color: var(--c-bgc-interior);
  }

  &--toys {
    background-color: var(--c-bgc-toys);
  }

  @media (min-width: $tablet) {
    width: 50%;
  }
}

.hero__link {
  @include mixins.link-reset;
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 320px;
  padding: 24px 146px 31px 30px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: var(--white);

  @media (min-width: $tablet) {
    margin-right: 0;
    margin-left: 0;
    width: auto;
    font-size: 20px;
    line-height: 30px;
    padding: 26px 125px 48px 36px;
  }

  @media (min-width: $desktop) {
    padding: 25px 305px 52px 36px;
  }

  &--interior {
    background: url("../img/hero-interior.svg") var(--bgc-rep) right 36px top 24px / var(--bgc-size);
  }

  &--toys {
    background: url("../img/hero-toy.svg") var(--bgc-rep) right 28px top 23px / var(--bgc-size);
  }
}
