@use "../global/mixins.scss";
@use "../variables.scss" as*;

.hero {
  position: relative;
  padding-top: 73px;
  background: var(--c-bgc-hero) url("../img/hero-mobile@1x.png") var(--bgc-rep) var(--bgc-pos) -18px / var(--bgc-size);
  overflow-x: hidden;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile@2x.png");
    background-size: 320px 373px;
  }

  @media (min-width: $tablet) {
    padding-top: 88px;
    background-image: url("../img/hero-tablet@1x.png");
    background-position: var(--bgc-pos) -68px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-tablet@2x.png");
      background-size: 768px auto;
    }

    &::after {
      @include mixins.zigzag-fill-tablet;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 26px;
      z-index: 1;
    }
  }

  @media (min-width: $desktop) {
    padding-top: 92px;

    &::after {
      @include mixins.zigzag-fill-desktop;
      height: 34px;
    }
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 416px;

  @media (min-width: $tablet) {
    min-height: 605px;
  }
}

.hero__title {
  margin-bottom: 0;
  padding-bottom: 30px;
  text-align: center;
  font-size: 27px;
  align-self: center;

  @media (min-width: $tablet) {
    max-width: 650px;
    font-size: 43px;
  }

  @media (min-width: $desktop) {
    max-width: 700px;
    font-size: 53px;
    line-height: 57px;
  }
}

.hero__list {
  @include mixins.list-reset;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.hero__item {
  @media (min-width: $tablet) {
    align-self: flex-end;
    width: 50%;
  }

  &--toys {
    position: relative;
    min-height: 103px;

    @media (min-width: $tablet) {
      position: static;
      min-height: auto;
    }
  }
}

.hero__link {
  @include mixins.link-reset;
  position: relative;
  display: block;
  padding: 24px 110px 31px 0;
  min-height: 103px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: var(--white);
  z-index: 1;
  transition: padding 0.3s;

  &--toys {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    @media (min-width: $tablet) {
      position: relative;
    }
  }

  &:hover {
    padding: 24px 110px 36px 0;
  }

  &:active {
    padding: 24px 110px 36px 0;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    padding: 26px 140px 48px 36px;

    &:hover {
      padding: 26px 140px 53px 36px;
    }

    &:active {
      padding: 26px 140px 53px 36px;
    }
  }

  @media (min-width: $desktop) {
    padding: 25px 325px 50px 36px;

    &:hover {
      padding: 25px 325px 55px 36px;
    }

    &:active {
      padding: 25px 325px 55px 36px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    z-index: -1;

    @media (min-width: $tablet) {
      left: 0;
      right: 0;
      transform: none;
      width: auto;
    }
  }

  &--interior::before {
    background: var(--c-bgc-interior);
  }

  &--toys::before {
    background: var(--c-bgc-toys);
  }

  &::after {
    content: "";
    position: absolute;
    background-color: rgba(20, 144, 128, 0.8);
    transition: background-color 0.3s;
  }

  &--interior::after {
    top: 24px;
    right: 5px;
    width: 40px;
    height: 62px;
    mask: url("../img/sprite.svg#hero-interior") var(--bgc-rep) center / 40px 62px;

    @media (min-width: $tablet) {
      top: 30px;
      right: 37px;
    }

    @media (min-width: $desktop) {
      top: 28px;
      right: 37px;
    }
  }

  &--toys::after {
    top: 22px;
    right: -4px;
    width: 60px;
    height: 60px;
    mask: url("../img/sprite.svg#hero-toy") var(--bgc-rep) center / 60px 60px;

    @media (min-width: $tablet) {
      top: 33px;
      right: 34px;
    }

    @media (min-width: $tablet) {
      top: 30px;
      right: 34px;
    }
  }

  &:hover::after {
    background-color: rgba(20, 144, 128, 1);
  }

  &:active::after {
    background-color: rgba(20, 144, 128, 0.5);
  }
}
