@use "../global/mixins.scss";

.navigation {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 1;
  background-color: var(--white);
  display: none;
}

.navigation__list {
  @include mixins.list-reset;
}

.navigation__link {
  @include mixins.link-reset;
  display: block;
  padding: 27px 30px;
  padding-left: 18%;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: inherit;
  border-top: 1px solid #ececec;
}
