@use "../global/mixins.scss";

.navigation__list {
  @include mixins.list-reset;
}

.navigation__link {
  @include mixins.link-reset;
  display: block;
  padding: 27px 30px;
  padding-left: 20%;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: inherit;
  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;
}
