@use "../global/mixins.scss";
@use "../variables.scss" as*;

// бургер-меню здесь

.navigation {
  position: relative;
  padding-top: 20px;
  z-index: 2;
  background-color: var(--white);

  @media (min-width: $tablet) {
    padding-top: 0;
    background-color: transparent;
  }
}

.navigation__js-active {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding-top: 0;
  visibility: hidden;
  transform: translateY(-150%);
  transition: visibility 0.4s, transform 0.4s cubic-bezier(0, 0.76, 0.74, 0.92);

  @media (min-width: $tablet) {
    position: relative;
    visibility: visible;
    transform: none;
  }
}

.navigation--active {
  visibility: visible;
  transform: none;
}

.navigation__list {
  @include mixins.list-reset;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 25% 1fr 264px;
    grid-template-rows: minmax(88px, 1fr);
  }

  @media (min-width: $desktop) {
    grid-template-columns: 21% 1fr 266px;
  }
}

.navigation__item {
  border-top: var(--border);
  padding-top: 17px;
  padding-bottom: 17px;

  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    border-top: none;
  }
}

.navigation__item--search {
  @media (min-width: $tablet) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding-top: 0;
    padding-bottom: 0;
    justify-self: end;
    align-self: center;
    border-left: var(--border);
    border-right: var(--border);
  }
}

.navigation__item--cart {
  @media (min-width: $tablet) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    justify-self: end;
    padding-left: 12px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.navigation__item--catalog {
  @media (min-width: $tablet) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 184px;
    border-right: var(--border);
  }
}

.navigation__item--order {
  @media (min-width: $tablet) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  @media (min-width: $desktop) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

.navigation__item--delivery {
  display: none;

  @media (min-width: $tablet) {
    display: block;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: end;
  }
}

.navigation__item--new {
  display: none;

  @media (min-width: $desktop) {
    display: block;
  }
}

.navigation__item--sale {
  display: none;

  @media (min-width: $desktop) {
    display: block;
  }
}

.navigation__link {
  color: var(--black);
  position: relative;
  display: block;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 46px;
  margin-right: auto;
  margin-left: auto;
  width: 260px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    background-color: var(--c-icon);
    transition: background-color 0.3s, opacity 0.3s;
  }

  @media (min-width: $tablet) {
    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 5px;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    width: auto;
  }

  &--search {
    --bgi: url("../icons/sprite.svg#search");

    &::before {
      content: "";
      mask: var(--bgi) var(--bgc-rep) var(--bgc-pos) / 18px 18px;
    }

    @media (min-width: $tablet) {
      min-height: 88px;
      width: 82px;

      &::before {
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
      }
    }
  }

  &--cart {
    --bgi: url("../icons/sprite.svg#cart");

    &::before {
      content: "";
      mask: var(--bgi) var(--bgc-rep) var(--bgc-pos) / 18px 18px;
    }

    @media (min-width: $tablet) {
      padding-top: 6px;
      padding-left: 50px;
      justify-self: end;
    }

    @media (min-width: $tablet) {
      padding-left: 52px;
    }
  }

  &:hover::before {
    background-color: var(--c-bgc-interior);
    opacity: 1;
  }

  &:active::before {
    background-color: var(--c-bgc-interior);
  }
}

.navigation__link--new,
.navigation__link--sale {
  padding-top: 4px;
  padding-right: 15px;
  font-size: 15px;
}

.navigation__link--sale {
  @media (min-width: $desktop) {
    max-width: 190px;
  }
}

.navigation__link--catalog,
.navigation__link--order {
  @media (min-width: $tablet) {
    padding-right: 15px;
    font-size: 15px;
  }

  @media (min-width: $desktop) {
    font-size: 17px;
  }
}

.navigation__link--order {
  @media (min-width: $desktop) {
    max-width: 190px;
  }
}

.navigation__link--delivery {
  display: none;

  &:hover {
    opacity: 1;
  }

  @media (min-width: $tablet) {
    display: block;
    padding-top: 4px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: 400;
  }
}

.navigation__link-wrap {
  @media (min-width: $tablet) {
    display: none;
  }
}
