@use "../global/mixins.scss";
@use "../variables.scss" as*;

.order {
  overflow: hidden;
}

.order__container {
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  width: 320px;

  @media (min-width: $tablet) {
    margin: 0 0;
    padding-right: 0;
    padding-left: 0;
    width: auto;
  }
}

.order__title {
  position: relative;
  margin-right: auto;
  margin-bottom: 17px;
  margin-left: auto;
  padding-top: 75px;
  padding-bottom: 73px;
  max-width: 260px;
  font-size: 27px;
  text-align: center;

  @media (min-width: $tablet) {
    padding-top: 34px;
    padding-bottom: 85px;
    font-size: 43px;
    margin-bottom: 56px;
    max-width: 480px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 54px;
    padding-bottom: 115px;
    min-width: 600px;
    font-size: 53px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    background-color: var(--c-bgc);
    z-index: -1;

    @media (min-width: $tablet) {
      background: url("../icons/sprite.svg#zigzag-fill-tablet") repeat-x center bottom / 768px 24px;
      background-color: var(--c-bgc);
    }

    @media (min-width: $desktop) {
      background: url("../icons/sprite.svg#zigzag-fill-desktop-order") repeat-x center bottom / 1150px 34px;
      background-color: var(--c-bgc);
    }
  }
}

.order__description {
  margin-top: 0;
  margin-bottom: 29px;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet) {
    margin-right: auto;
    margin-bottom: 63px;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 17px;
    line-height: 30px;
    max-width: 768px;
  }

  @media (min-width: $desktop) {
    padding-top: 43px;
    padding-left: 50px;
    max-width: 800px;
  }
}
