.order__title {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 17px;
  font-size: 27px;
  text-align: center;
  background-color: var(--c-bgc);
}

.order__description {
  margin-bottom: 29px;
  font-size: 13px;
  line-height: 24px;
}
