@use "../global/mixins.scss";
@use "../variables.scss" as*;

.order__container {
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
  width: 320px;

  @media (min-width: $tablet) {
    margin: 0 0;
    padding-right: 0;
    padding-left: 0;
    width: auto;
  }
}

.order__title {
  padding-top: 75px;
  padding-bottom: 73px;
  margin-bottom: 17px;
  font-size: 27px;
  text-align: center;
  background: var(--c-bgc);

  @media (min-width: $tablet) {
    @include mixins.zigzag-fill-tablet;
    padding-top: 48px;
    padding-bottom: 85px;
    background-color: var(--c-bgc);
    font-size: 43px;
    margin-bottom: 56px;
  }

  @media (min-width: $desktop) {
    @include mixins.zigzag-fill-desktop;
    background-color: var(--c-bgc);
    margin-bottom: 54px;
    padding-bottom: 90px;
  }
}

.order__description {
  margin-top: 0;
  margin-bottom: 29px;
  font-size: 13px;
  line-height: 24px;

  @media (min-width: $tablet) {
    margin-right: auto;
    margin-bottom: 63px;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop) {
    padding-left: 175px;
    max-width: 850px;
  }
}
