.page-body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  font-size: 15px;
  font-weight: 400;
  color: var(--color-text);
  background-color: var(--c-white);
}
