@use "../global/mixins.scss";
@use "../variables.scss" as*;

.slider {
  @include mixins.zigzag;
  padding-top: 84px;
  padding-bottom: 51px;

  @media (min-width: $tablet) {
    @include mixins.zigzag-tablet;
    padding-bottom: 135px;
  }

  @media (min-width: $desktop) {
    padding-top: 87px;
    padding-bottom: 0;
    background-image: none;
  }
}

.slider__container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet) {
    column-gap: 20px;
  }

  @media (min-width: $desktop) {
    @include mixins.zigzag-desktop;
    padding-left: 224px;
    padding-bottom: 186px;
  }
}

.slider__title {
  grid-column: 1 / -1;
  margin-bottom: 14px;

  @media (min-width: $tablet) {
    margin-bottom: 38px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  @media (min-width: $desktop) {
    margin-bottom: 36px;
  }
}

.slider__slide {
  grid-column: 1 / -1;
  display: none;

  &--current {
    display: block;
  }

  @media (min-width: $tablet) {
    grid-column: 1 / -1;
    grid-row: 2 / 4;
  }
}

.slider__quote {
  margin: 0 0 33px 0;
  line-height: 30px;

  @media (min-width: $tablet) {
    margin: 0;
  }

  @media (min-width: $desktop) {
    font-size: 17px;
  }
}

.slider__author {
  display: block;
  margin-bottom: 5px;
  padding-top: 34px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;

  @media (min-width: $tablet) {
    margin-bottom: 6px;
    padding-top: 61px;
    font-size: 18px;
  }

  @media (min-width: $desktop) {
    padding-top: 44px;
    font-size: 17px;
  }
}

.slider__address {
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
}

.slider__wrap-control {
  grid-column: 1 / -1;
  display: flex;
  margin-bottom: 39px;

  @media (min-width: $tablet) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: end;
    margin-bottom: 0;
  }
}

.slider__control {
  @include mixins.button-reset;
  min-height: 52px;
  width: 50%;
  border: 1px solid var(--c-line);
  background: url("../img/reviews-arrow-left.svg") var(--bgc-rep) var(--bgc-pos) / var(--bgc-size);

  @media (min-width: $tablet) {
    min-height: 50px;
    width: 87px;
    border: none;
  }

  &--preview {
    border-right: none;
  }

  &--next {
    transform: rotate(180deg);
  }
}

.slider__button {
  grid-column: 1 / -1;

  @media (min-width: $tablet) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    align-self: start;
    padding-top: 14px;
    width: 175px;
    font-size: 17px;
    min-height: 52px;
    transform: translateY(-4px);
  }

  @media (min-width: $desktop) {
    transform: none;
  }
}
