@use "../global/mixins.scss";

.slider {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 39px;
}

.slider__slide {
  grid-column: 1 / -1;
}

.slider__quote {
  margin: 0 0 33px 0;
  line-height: 30px;
}

.slider__author {
  display: block;
  margin-bottom: 5px;
  padding-top: 34px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
}

.slider__address {
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
}

.slider__control {
  @include mixins.button-reset;
  min-height: 52px;
  border: 1px solid var(--c-line);
  background: var(--bg-rep) var(--bg-pos) / var(--bg-size);

  &--preview {
    grid-column: 1 / 2;
    border-right: none;
    background-image: url("../img/reviews-arrow-left.svg");
  }

  &--next {
    grid-column: 2 / 3;
    background-image: url("../img/reviews-arrow-right.svg");
  }
}
