@use "../global/mixins.scss";

.social-list {
  @include mixins.list-reset;
  display: flex;
  justify-content: center;
  gap: 29px;
}

.social-list__link {
  display: block;
  width: 28px;
  height: 22px;
  background: var(--bgi) var(--bgc-rep) var(--bgc-pos) / var(--bgc-size);

  &--vk {
    --bgi: url("../img/sprite.svg#icon-vkontakte");
  }

  &--youtube {
    --bgi: url("../img/sprite.svg#icon-youtube");
  }

  &--telegram {
    --bgi: url("../img/sprite.svg#icon-telegram");
  }
}
