@use "../global/mixins.scss";

%bcg-property {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.social-list {
  @include mixins.list-reset;
  display: flex;
  gap: 29px;
}

.social-list__link {
  display: block;
  width: 28px;
  height: 22px;

  &--vk {
    @extend %bcg-property;
    background-image: url("../img/vkontakte.svg");
  }

  &--youtube {
    @extend %bcg-property;
    background-image: url("../img/youtube.svg");
  }

  &--telegram {
    @extend %bcg-property;
    background-image: url("../img/telegram.svg");
  }
}
