@use "../variables.scss" as*;

.title {
  margin-top: 0;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  color: var(--c-bold-text);

  @media (min-width: $tablet) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop) {
    font-size: 53px;
    line-height: 57px;
  }
}
