@mixin list-reset {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

@mixin link-reset {
  text-decoration: none;
  color: inherit;
}

@mixin button-reset {
  background-color: transparent;
  border-radius: none;
  cursor: pointer;
}

@mixin wawe-line {
  background-color: transparent;
  border-radius: none;
}

@mixin bcg-property {
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

@mixin zigzag {
  background-image: url("../img/zigzag-mobile.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
}
