@mixin list-reset {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

@mixin link-reset {
  text-decoration: none;
  color: inherit;
}

@mixin button-reset {
  background-color: transparent;
  cursor: pointer;
}

@mixin zigzag {
  background-image: url("../img/zigzag-mobile.svg");
  background-repeat: repeat-x;
  background-position: center bottom;
  background-size: 100%;
}
