@mixin list-reset {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

@mixin link-reset {
  text-decoration: none;
  color: inherit;
}

@mixin button-reset {
  background-color: transparent;
  cursor: pointer;
}

@mixin zigzag {
  background: url("../img/sprite.svg#zigzag-mobile") repeat-x center bottom / 320px 6px;
}

@mixin zigzag-tablet {
  background: url("../img/sprite.svg#zigzag-tablet") repeat-x center bottom / 768px 17px;
}

@mixin zigzag-desktop {
  background: url("../img/sprite.svg#zigzag-desktop") no-repeat center bottom / 1050px 23px;
}

@mixin zigzag-fill-tablet {
  background: url("../img/sprite.svg#zigzag-fill-tablet") repeat-x center bottom / 768px 24px;
}

@mixin zigzag-fill-desktop {
  background: url("../img/zigzag-fill-desktop.png") repeat-x center bottom / 1040px;
}
