@mixin list-reset {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

@mixin link-reset {
  text-decoration: none;
  color: inherit;
}

@mixin button-reset {
  background-color: transparent;
  cursor: pointer;
}

@mixin zigzag {
  background: url("../img/zigzag-mobile.svg") repeat-x center bottom / 320px;
}

@mixin zigzag-tablet {
  background: url("../img/zigzag-tablet.svg") repeat-x center bottom / 772px;
}

@mixin zigzag-desktop {
  background: url("../img/zigzag-deskt.svg") repeat-x center bottom / 1050px;
}

@mixin zigzag-fill-tablet {
  background: url("../img/zigzag-fill-tablet.svg") repeat-x center bottom / 770px;
}

@mixin zigzag-fill-desktop {
  background: url("../img/zigzag-fill-desktop.png") repeat-x center bottom / 1128px;
}
