:root {
  --main-font: "open-sans", arial, sans-serif;
  --black: #000000;
  --white: #ffffff;
  --c-icon: #cccccc;
  --c-text: #444444;
  --c-bold-text: var(--black);
  --c-bgc: #f1f1f1;
  --c-bgc-interior: #63d1bb;
  --c-bgc-toys: #56c3b2;
  --c-bgc-hero: #fafafa;
  --c-line: #ececec;
  --c-link-border: #62d1ba;
  --c-social: #231f20;
  --c-hover: #46c1ae;
  --bgc-rep: no-repeat;
  --bgc-pos: center;
  --bgc-size: auto;
  --border: 1px solid var(--c-line);
}
