// css-переменные
@use "root.scss";

// global
@use "global/global.scss";
@use "global/fonts.scss";

// blocks-global
@use "blocks/page.scss";
@use "blocks/page-body.scss";
@use "blocks/container.scss";
@use "blocks/visually-hidden.scss";
@use "blocks/title.scss";
@use "blocks/button.scss";

// blocks-header-footer
@use "blocks/header.scss";
@use "blocks/link-logo.scss";
@use "blocks/navigation.scss";
@use "blocks/burger.scss";
@use "blocks/footer.scss";
@use "blocks/social-list.scss";

// blocks-index
@use "blocks/main.scss";
@use "blocks/hero.scss";
@use "blocks/featured.scss";
@use "blocks/about.scss";
@use "blocks/reviews.scss";
@use "blocks/slider.scss";
@use "blocks/contacts.scss";

// blocks-form
@use "blocks/order.scss";
@use "blocks/form.scss";
@use "blocks/catalog.scss";

// blocks-modal
@use "blocks/adding.scss";
